.falling-text-container {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 200px;
    cursor: pointer;
    text-align: center;
    padding: 2em 1em;
  }
  
  .falling-text-target {
    display: inline-block;
  }
  
  .word {
    display: inline-block;
    margin: 0 2px;
    user-select: none;
    color: #666;
  }
  
  .highlighted {
    color: #007AFF;
    font-weight: bold;
  }
  
  .falling-text-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  