@mixin flex-center($justify: center) {
    display: flex;
    align-items: center;
    justify-content: $justify;
  }
  
  @mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  @mixin ellipsisMulti($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line; // 여러줄 이상 ellipsis
    -webkit-box-orient: vertical;
    white-space: normal;
    vertical-align: baseline;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  @mixin tablet {
    @media (max-width: 1280px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
  